@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.cyber-grid {
  background-image:
    linear-gradient(rgba(255,255,255,.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.04) 1px, transparent 1px);
  background-size: 48px 48px;
}

::selection {
  background: #2563eb;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}